<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="ClientID" value="1"/>

    <!--Start 本地服务器消息队列消费端配置-->
    <add key="MQ:BrokerUri" value="failover:(tcp://127.0.0.1:61616)?initialReconnectDelay=100&amp;timeout=3000" />
    <add key="MQ:UserName" value="admin" />
    <add key="MQ:Password" value="admin" />
    <!--End 本地服务器消息队列消费端配置-->


  </appSettings>
</configuration>