@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
	<meta name="viewport" content="width=device-width" />
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<title>使用ByteArray展示PDF</title>
</head>
<body>
	<iframe id="pdfiframe" src="~/pdfjs/web/viewer.html" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; border: none;"></iframe>
	<script>

		var pdfData = base64ToUint8Array("@Model.PDF");

		function base64ToUint8Array(base64) {
			var raw = window.atob(base64);
			var rawLength = raw.length;
			var array = new Uint8Array(new ArrayBuffer(rawLength));

			for (var i = 0; i < rawLength; i++) {
				array[i] = raw.charCodeAt(i) & 0xff;
			}
			return array;
		}

		$(document).ready(function () {

			var pdfjsframe = document.getElementById('pdfiframe');

			pdfjsframe.onload = function () {
				LoadPdfDocument();
			};

			try {
				LoadPdfDocument();
			} catch (e) {

			}

			function LoadPdfDocument() {
				pdfjsframe.contentWindow.PDFViewerApplication.open({ data: pdfData });
				console.log("LoadPdfDocument");
			}

			var iframe = $("#pdfiframe")

			iframe.on("load", () => {


				$("#pdfiframe").contents().find(".disabledOpenFile").remove();
				$("#pdfiframe").contents().find(".disabledPrint").remove();
				$("#pdfiframe").contents().find(".disabledDownload").remove();
				$("#pdfiframe").contents().find(".disabledBookMark").remove();
			});
		});

	</script>
</body>
</html>
