@model IEnumerable<ZP.Bill.Models.GoodsCallModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2>商品单据召集</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped table-bordered">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <table class="table table-striped">
                            <tr>
                                <td rowspan="5">
                                    <img src="~/GoodsImages/@Html.DisplayFor(modelItem => item.Goods.GoodsPictureUrls)" width="150" height="150" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    商品名称:  @Html.DisplayFor(modelItem => item.Goods.GoodsName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    编号: @Html.DisplayFor(modelItem => item.Goods.ID)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    应募人数: @Html.DisplayFor(modelItem => item.Goods.PersonNum)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    已募人数: @Html.DisplayFor(modelItem => item.CallNumber)
                                </td>
                            </tr>
                        </table>

                    </td>

                </tr>


            }
        </table>
    </div>
</div>
