<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="18.12.0" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.11.30" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
  <package id="pdfboxNet" version="1.8.9.0" targetFramework="net47" />
  <package id="StackExchange.Redis.Extensions.Core" version="3.3.0" targetFramework="net47" />
  <package id="StackExchange.Redis.Extensions.LegacyConfiguration" version="1.3.0" targetFramework="net47" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net47" />
</packages>