/* --------------------------------------------------
	201205-
-------------------------------------------------- */
body{ background:url(../img/base/BgBody1.gif) 0 0 repeat-x;}

div#header {position:relative;height:112px; z-index:500;}
div#wrapper { padding-top:7px;}

#LH { position:relative; z-index:500;}

#LH1 .CPLogo1 { position:absolute; left:0; top:35px;}
#LH1 .CPTtl1 { font-size:11px; color:#666; position:absolute; top:8px; left:0; font-weight:bold; z-index:1000;}
#LH1 .CPTtl1 .CS1 { color:#c00;}
#LH1 .RSpnav1 { position:absolute; top:7px;}
#LH1 .RSpnav1 li { font-size:11px; padding:0 3px;}
#LH1 .CPRtBtn1 { position:absolute; top:3px; right:0px;}

#LH1 .CDMid1 { position:absolute; top:46px; left:192px;}
#LH1 .CDMid1 .CU1 li { float:left; margin:0 10px 0 0; padding:5px 0px;}
#LH1 .CDMid1 .CU1 .CLi1 { background:#FFF3E1; height:22px; padding:0 5px 2px;}
#LH1 .CDMid1 .CU1 .CLi2 p { border-right:1px solid #FFB84D; padding:0 10px 0 0;}
#LH1 .CDMid1 .CU1 .CLi1 p { line-height:22px; color:#666;}
#LH1 .CDMid1 .CU1 p { color:#666; line-height:1.4;}
#LH1 .CDMid1 .CU1 p .CS1 { font-size:16px; font-weight:bold; color:#EC6604; padding-left:5px;}
#LH1 .CDMid1 .CU1 p .CS2 { color:#333;}
#LH1 .CDMid1 .CU1 p .CS3 { color:#333; font-weight:bold;}
#LH1 .CDMid1 .CU1 .CLi3 { position:relative;}
#LH1 .CDMid1 .CU1 .CLi3 .CPIcon1 { position:absolute; top:-20px; left:50%;}
#LH1 .CDMid1 .CU1 .CLi3 .CPIcon1 img { margin-left:-50%;}

#LH1 .CDRt1 { position:absolute; top:27px; right:0; width:310px;}
#LH1 .CDRt1CD1 { border:1px solid #DDDACB; height:22px; width:298px; padding:0 5px; overflow:hidden;}
#LH1 .CDRt1CD1W1 { word-break:keep-all; line-height:22px;}
#LH1 .CDRt1CD1 a { color:#333;}

#LH2 { clear:both;}
#LH2 .CPEventNavBtn1 { position:absolute; left:0; top:79px; cursor:pointer;}
#LH2 .CPEventNavBtn1 a { display:block; width:180px; height:30px; background:url(../img/base/BtnLH2_1.gif) 0 0 no-repeat; text-indent:-9999px; overflow:hidden;}
#LH2 .CPEventNavBtn1 a.RCrnt { background:url(../img/base/BtnLH2_1_f3.gif) 0 0 no-repeat;}

#LH2 .SUEventNav1 { position:absolute; top:109px; left:0; width:180px;}
#LH2 #JDEventNav1 .SUEventNav1 { display:none;}

.SUEventNav1 li { position:relative; *zoom:1; z-index:1; min-height:23px; *min-height:21px; _height:21px;}
.SUEventNav1 li a { position:absolute; top:0px; left:0px; width:175px; _width:180px; height:23px; overflow:hidden; display:block; background:url(../img/base/BgSUEventNav1_1.gif) 0 0 no-repeat; padding:0 0 0 5px; line-height:23px; /*font-weight:bold; */color:#333; *zoom:1;letter-spacing: -1px;}
.SUEventNav1 li a .CS1 { font-weight:normal;}
.SUEventNav1 .CLi1_1 a { background:url(../img/base/BgSUEventNav1_2.gif) 0 0 no-repeat;}
.SUEventNav1 .CLi1_0 a { background:url(../img/base/BgSUEventNav1_0.gif) 0 0 no-repeat;}
.SUEventNav1 li a.ROn { background:url(../img/base/BgSUEventNav1_1_f2.gif) 0 0 no-repeat; color:#fff; text-decoration:none;}
.SUEventNav1 .CLi1_0 a.ROn { background:url(../img/base/BgSUEventNav1_0_f2.gif) 0 0 no-repeat; color:#333;}

.SUEventNav1 li .CU1 { position:absolute; top:0; left:0px; margin:-1px 0 0 168px; border:1px solid #C9BF9C; display:none; *zoom:1; _width:176px; float:left;}
.SUEventNav1 li .CU1 li { *zoom:1; height:26px;}
.SUEventNav1 li .CU1 .CLiLast1 { height:25px;}
.SUEventNav1 li .CU1 li a { display:block; position:static; width:173px; _width:198px; height:26px; background:url(../img/base/BgSUEventNav1_1_1.gif) 0 0 no-repeat; padding:0 0 0 25px; line-height:26px; color:#fff; overflow:hidden;}
.SUEventNav1 li .CU1 li a:hover { background:url(../img/base/BgSUEventNav1_1_1_f2.gif) 0 0 no-repeat; color:#333;}
.SUEventNav1 li .CU1 .CLiLast1 a { height:25px; overflow:hidden;}

#LH2 .CPBtn2 { position:absolute; top:80px; right:130px;}
#LH2 .CPBtn3 { position:absolute; top:80px; right:0px;}

#LH2 .CDSearch1 { position:absolute; top:83px; left:193px; z-index:200;}
#LH2 .CDSearch1W1 { position:relative;}
#LH2 .CDSearch1 .CIpt1 { position:absolute; left:0px; top:0px; vertical-align:middle; width:188px; border:1px solid #DDDACB; padding:0 5px; height:22px; line-height:22px;}
#LH2 .CDSearch1 .CIpt2 { vertical-align:middle; position:absolute; left:210px; top:0px; z-index:1000;}
#LH2 .CDSearch1 .CD1 { position:relative; width:160px; z-index:200; padding:20px;}
#LH2 .CDSearch1 .CDRdo1 { display:none; position:absolute; top:24px; left:0px; border:1px solid #D0CCB7; border-top:0px; box-shadow:1px 1px 3px #ccc; background:#fff; padding:10px 10px 5px; width:178px; z-index:0;}
#LH2 .CDSearch1 .CDRdo1 p { padding:2px 0;}
#LH2 .CDSearch1 .CDRdo1 .CRdo1 { vertical-align:middle; margin:0 4px 4px 0;}

.SDTop1 { margin-left:187px; width:443px; height:242px; overflow:hidden; background:#F3F3EB; margin-bottom:7px; position:relative; *zoom:1;}
.SDTop1_1 { height:225px;}



.SDTop1 .CDTp1 { position:absolute; top:7px; left:8px; z-index:100; width:443px; text-align:center;}
.SDTop1_1 .CDTp1 { top:5px;}
.SDTop1 .CDTp1 li { float:left; margin-right:6px;}
.SDTop1 .CDMid1 { position:relative; padding:41px 0 0 0; margin-left:6px; width:432px; height:182px; _height:223px; overflow:hidden;}
.SDTop1_1 .CDMid1 { padding:30px 0 0 0; height:189px; _height:223px;}

.SDTop1 .CDMid1 .CU1 {}
.SDTop1 .CDMid1 .CU1 li { width:108px; height:181px; float:left;}

.SDTop1 .CDMid1 .CU1 li .CD1 { width:105px; height:179px; border:1px solid #DAD3BC; background:#fff;}

.SDTop1_1 .CDMid1 .CU1 li { height:191px; position:relative;}
.SDTop1_1 .CDMid1 .CU1 li .CD1 { height:186px;}
.SDTop1_1 .CDMid1 .CU1 li .CP1 { margin-bottom:10px;}

.SDTop1 .CDMid1 .CU1 li .CPImg1 { margin-bottom:10px; text-align:center; padding-top:12px;}
.SDTop1 .CDMid1 .CU1 li .CP1 { padding:0 5px;}

.SDTop1 .CDMid1 .CU1 li .CP2 { border-top:1px dotted #ccc; padding-top:5px; font-size:10px; color:#999; text-align:center; position:absolute; bottom:10px; left:8px; width:88px;}
.SDTop1 .CDMid1 .CU1 li .CP2 .CS1 { font-size:14px; color:#F60; font-weight:bold;}
.SDTop1 .CDBm1 .CU1 { position:absolute; bottom:4px; left:6px;}
.SDTop1 .CDBm1 .CU1 li { float:left; width:11px; height:11px; margin:0 2px 0 0; overflow:hidden; background:url(../img/base/Indicator1_2.gif) 2px 2px no-repeat; text-indent:-9999px; cursor:pointer;}
.SDTop1 .CDBm1 .CU1 li.ROn { background:url(../img/base/Indicator1_1.gif) 2px 2px no-repeat;}
.SDTop1 .CDBm1 .CPRt1 { position:absolute; right:10px; bottom:2px; font-size:11px;}
.SDTop1 .CDBm1 .CPRt1 a { padding-left:14px; background:url(../img/base/Arrow1.gif) 0 50% no-repeat;}

/*ジャンルトップ*/
.SDTop1 .CDMid1Genre1 { padding:0px; height:224px; _height:223px; width:443px; margin:0;}
.SDTop1 .CDMid1Genre1 .CU1 { position:relative;}
.SDTop1 .CDMid1Genre1 .CU1 li { float:none;}
.SDTop1 .CDMid1Genre1 .CDMid1Genre1CDLt1 { position:absolute; left:6px; top:3px;}

.SDTop1 .CDMid1Genre1 .CPIconRank1 { position:absolute; top:-3px; left:-3px;}
.SDTop1 .CDMid1Genre1 .CU1 .CLiRank1 { position:absolute; top:0px; left:0px; width:106px; height:192px;}
.SDTop1 .CDMid1Genre1 .CU1 .CLiRank1 .CD1 { height:190px;}
.SDTop1 .CDMid1Genre1 .CU1 li .CD1 { top:0px; left:0px; width:103px;}
.SDTop1 .CDMid1Genre1 .CU1 .CLiRank2 { position:absolute; top:0px; left:108px; width:106px; height:95px;}
.SDTop1 .CDMid1Genre1 .CU1 .CLiRank3 { position:absolute; top:97px; left:108px; width:106px; height:95px;}
.SDTop1 .CDMid1Genre1 .CU1 .CLiRank2 .CD1,
.SDTop1 .CDMid1Genre1 .CU1 .CLiRank3 .CD1 { height:93px;}

.SDTop1 .CDMid1Genre1 .CU1 .CLiRank1 .CD1 { border:1px solid #E8BB46;}
.SDTop1 .CDMid1Genre1 .CU1 .CLiRank2 .CD1 { border:1px solid #ADADAD;}
.SDTop1 .CDMid1Genre1 .CU1 .CLiRank3 .CD1 { border:1px solid #CC9966;}

.SDTop1 .CDMid1Genre1 .CDMid1Genre1CDRt1 { position:absolute; right:6px; top:4px;}
.SDTop1 .CDMid1Genre1 .CH1 { width:212px; text-align:center; padding-bottom:6px;}
.SDTop1 .CDMid1Genre1 .CDMid1Genre1CDRt1 .CH1 { padding-bottom:4px;}
.SDTop1 .CDMid1Genre1 .CDMid1Genre1CDRt1 .CU1 li { width:212px; height:95px; margin:0 0 2px;}
.SDTop1 .CDMid1Genre1 .CDMid1Genre1CDRt1 .CU1 li .CD1 { border:1px solid #C9BF9C; width:210px; height:93px;}
.SDTop1 .CDMid1Genre1 .CDMid1Genre1CDRt1 .CU1 li .CD1 { position:relative;}
.SDTop1 .CDMid1Genre1 .CDMid1Genre1CDRt1 .CU1 .CPImg1 { position:absolute; left:6px; top:6px; margin:0; padding:0;}
.SDTop1 .CDMid1Genre1 .CDMid1Genre1CDRt1 .CU1 .CP1 { position:absolute; left:92px; top:8px; margin:0; padding:0; width:112px;}
.SDTop1 .CDMid1Genre1 .CDMid1Genre1CDRt1 .CU1 .CP2 { position:absolute; left:92px; top:55px; margin:0; padding:8px 0 0; width:112px; border-top:1px dotted #ccc; text-align:left;}
.SDTop1 .CDMid1Genre1 .CDMid1Genre1CDRt1 .CU1 .CPIconReco1 { position:absolute; bottom:-3px; right:-3px; margin:0; padding:0;}

.SDTop2 { clear:both; margin-bottom:10px; width:630px; overflow:hidden;}
.SDTop2 .CDTp1 { position:relative; margin-bottom:10px; *zoom:1;}
.SDTop2 .CDTp1 .CPLink1 { position:absolute; right:10px; top:15px;}

.SDTop2 .CDTp1 .CPLink1 a { background:url(../img/base/Arrow1.gif) 0 1px no-repeat; padding-left:14px; font-size:11px;}
.SDTop2 .CUPanel1 { width:648px;}
.SDTop2 .CUPanel1 li { background:url(../img/base/LineVertical1.gif) 121px 0 no-repeat; width:115px; _width:122px; height:196px; float:left; padding-right:7px; margin-right:7px; position:relative;}
.SDTop2 .CUPanel1Rank1 li { height:214px; background:url(../img/base/LineVertical1.gif) 121px 18px no-repeat;}
.SDTop2 .CUPanel1 li .CPImg1 { margin-bottom:5px;}
.SDTop2 .CUPanel1 li .Img1 { padding:34px;border:1px solid #DDDACB;}
.SDTop2 .CUPanel1 li .CPBm1 { position:absolute; bottom:0px; left:0px; font-size:10px; color:#999; width:115px; text-align:center;}
.SDTop2 .CUPanel1 li .CPBm1 .CS1 { color:#FF6600; font-size:14px; font-weight:bold;}
/* .CUPanel1_1 == 4col */
.SDTop2 .CUPanel1_1 li { height:215px; width:152px; _width:156px; background:url(../img/base/LineVertical1.gif) 155px 0 no-repeat; padding-right:4px; margin-right:4px;}
.SDTop2 .CUPanel1_1 li .CPBm1 { width:152px; _width:156px;}
/* .CUPanel1_1 == 4col rank */
.SDTop2 .CUPanel1Rank1_1 li { height:232px; background:url(../img/base/LineVertical1.gif) 154px 18px no-repeat;}


.jcarousel-clip { overflow: hidden;}
.jcarousel-clip-horizontal { width:432px; height:182px;}


.SPCrumb1 { line-height:13px; height:18px; overflow:hidden;}

.SHGenre1 { background:url(../img/base/BgSHGenre1.gif) 0 0 no-repeat; width:630px; height:37px; padding:5px 0 0 50px; position:relative; font-size:14px; line-height:32px;}
.SHGenre1 .CSIcon1 { position:absolute; left:7px; top:0px; width:31px; height:31px; background:url(../img/base/TtlGenreIconSet1.png) 0 0 no-repeat; text-indent:-9999px; overflow:hidden;}
.SHGenre1 .CS1 { color:#EB6519; font-size:16px;}
.SHGenre1 .CSIcon1_CJ0001 { background-position:0px 0px;}
.SHGenre1 .CSIcon1_CJ0002 { background-position:-31px 0;}
.SHGenre1 .CSIcon1_CJ0003 { background-position:-62px 0;}
.SHGenre1 .CSIcon1_CJ0004 { background-position:-93px 0;}
.SHGenre1 .CSIcon1_CJ0005 { background-position:-124px 0;}
.SHGenre1 .CSIcon1_CJ0006 { background-position:-155px 0;}
.SHGenre1 .CSIcon1_CJ0007 { background-position:-186px 0;}
.SHGenre1 .CSIcon1_CJ0008 { background-position:-217px 0;}
.SHGenre1 .CSIcon1_CJ0009 { background-position:-248px 0;}
.SHGenre1 .CSIcon1_CJ0010 { background-position:-279px 0;}
.SHGenre1 .CSIcon1_CJ0011 { background-position:-310px 0;}
.SHGenre1 .CSIcon1_CJ0012 { background-position:-341px 0;}
.SHGenre1 .CSIcon1_CJ0013 { background-position:-372px 0;}
.SHGenre1 .CSIcon1_CJ0014 { background-position:-403px 0;}
.SHGenre1 .CSIcon1_CJ0015 { background-position:-434px 0;}
.SHGenre1 .CSIcon1_CJ0016 { background-position:-465px 0;}

.SDSubGenre1 { background:#F3F3EB; border:1px solid #E8E6D7; font-size:13px;}
.SDSubGenre1W1 { border:1px solid #fff; padding:4px 8px;}

/* 汎用表現追加分 */
.SDTtl2 { position:relative; margin-bottom:15px; padding:10px 0 7px; border-bottom:3px solid #C9BF9C; *zoom:1;}
.SDTtl2 .CP1 { position:absolute; right:10px; top:13px;}
.SDTtl2 .CP1 a { background:url(../img/base/Arrow1.gif) 0 1px no-repeat; padding-left:14px; font-size:11px;}

.SPBtnAdd1 { clear:both;}
.SPBtnAdd1 a { display:block; background:url(../img/general/renew/icon/IconAdd1.jpg) 0 0 no-repeat; padding-left:26px; line-height:20px;}

/* ファンサイト更新情報 */
.SUTabFanSiteNews1 { background:#EDEDE2; padding:10px 9px 0; _height:60px; overflow:hidden; border-left:1px solid #DAD3BC; border-right:1px solid #DAD3BC;}
	.SUTabFanSiteNews1 li { float:left; display:block; margin-right:5px;}
	.SUTabFanSiteNews1 li a { display:block; float:left; height:45px; width:118px; text-indent:-9999px; background:url(../img/base/TabMypageComapnyNews1.jpg) 0 0 no-repeat; overflow:hidden; outline:none;}
	.SUTabFanSiteNews1 .CLi5 { margin-right:0px;}
		.SUTabFanSiteNews1.CLi1 a { background-position:0px 0px;}
		.SUTabFanSiteNews1 .CLi2 a { background-position:-118px 0px;}
		.SUTabFanSiteNews1 .CLi3 a { background-position:-236px 0px;}
		.SUTabFanSiteNews1 .CLi4 a { background-position:-354px 0px;}
		.SUTabFanSiteNews1 .CLi5 a { background-position:-472px 0px;}
		.SUTabFanSiteNews1 .CLi1 a:hover , .SUTabFanSiteNews1 .CLi1 a.ROn { background-position:0px -45px;}
		.SUTabFanSiteNews1 .CLi2 a:hover , .SUTabFanSiteNews1 .CLi2 a.ROn { background-position:-118px -45px;}
		.SUTabFanSiteNews1 .CLi3 a:hover , .SUTabFanSiteNews1 .CLi3 a.ROn { background-position:-236px -45px;}
		.SUTabFanSiteNews1 .CLi4 a:hover , .SUTabFanSiteNews1 .CLi4 a.ROn { background-position:-354px -45px;}
		.SUTabFanSiteNews1 .CLi5 a:hover , .SUTabFanSiteNews1 .CLi5 a.ROn { background-position:-472px -45px;}

/* 既存タグの更新 */


.SDLM1RecoEvent1Wrap1 { height:453px; *height:463px; _height:460px; _width:630px; overflow:hidden; border:1px solid #DAD3BC; background:#EDEDE2; margin-bottom:10px;}
.SDLM1RecoEvent1Wrap1BrdTp0 { border-top:0px;}
.SDLM1RecoEvent1 { clear:both;}
#SDLM1RecoEvent1_1 ,#SDLM1RecoEvent1_3 ,#SDLM1RecoEvent1_4 { display:none;}

.SDLM1RecoEvent2 .CU1 {}
	.SDLM1RecoEvent2 .CU1 li { clear:both; width:620px; margin-left:4px; height:112px; position:relative; background:#fff;}
	.SDLM1RecoEvent2 .CU1 .CLi2 { background:#F9F9F4;}

	.SDLM1RecoEvent2 .CU1 li .CDLt1 { position:absolute; top:15px; left:15px;}
		.SDLM1RecoEvent2 .CU1 li .CDLt1 img { border:1px solid #ccc;}
	.SDLM1RecoEvent2 .CU1 li .CDRt1 { position:absolute; top:15px; left:104px; width:510px; padding-right:0px;}
		.SDLM1RecoEvent2 .CU1 li .CDRt1 .CP1 { font-size:15px;font-weight:bold;margin-bottom:5px;}
		.SDLM1RecoEvent2 .CU1 li .CDRt1 .CP2 { margin-bottom:5px;}
		.SDLM1RecoEvent2 .CU1 li .CDRt1 .CP3 { font-size:10px; color:#666;text-align:right;}
		.SDLM1RecoEvent2 .CU1 li .CDRt1 .CP4 { font-size:10px; color:#666;text-align:right;}
	.SDLM1RecoEvent2 .CU1 li .CDRt2 { position:absolute; top:15px; left:134px; width:480px; padding-right:0px;}
		.SDLM1RecoEvent2 .CU1 li .CDRt2 .CP1 { font-size:15px;font-weight:bold;margin-bottom:5px;}
		.SDLM1RecoEvent2 .CU1 li .CDRt2 .CP2 { margin-bottom:5px;}
		.SDLM1RecoEvent2 .CU1 li .CDRt2 .CP3 { font-size:10px; color:#666;text-align:right;}
		.SDLM1RecoEvent2 .CU1 li .CDRt2 .CP4 { font-size:10px; color:#666;text-align:right;}

.SUNewCompanyList1 { margin:0;}

.SDLS1 { clear:both; background:url(../img/general/renew/bg/BgSDLS1.jpg) 0 0 repeat-y; margin-bottom:5px;}

.SDFanSiteGenreList1 { background:#FBFBF9; border:1px solid #E8E6D7; width:628px; margin-bottom:40px;}
.SDFanSiteGenreList1 .CH1 { padding:7px; border-bottom:3px solid #C9BF9C;}
.SDFanSiteGenreList1W1 { padding:10px 15px;}
.SDFanSiteGenreList1 .CT1 { width:100%;}
.SDFanSiteGenreList1 .CT1 td { padding:3px 0;}


/* box right */
div.box_r_cnt {
margin-bottom:5px;
clear: both;
}

.CDSDLSLive1 { clear:both; border:1px solid #FC0; padding:10px; height:58px; _height:76px; overflow:hidden; margin-bottom:10px;}

.box_project_list #box_left,
.box_project_list #box_right { padding-top:0px;}

body#body_top div#box_left { overflow:visible;}

/* イベントリスト枠 */
.SDSearchEvent2 { margin-bottom:10px; width:628px; padding-bottom:0px; position:relative; border:1px solid #C9BF9C; background:none;}
.SDSearchEvent2 .CPIconNew1 { position:absolute; top:-3px; left:-3px;}

	.SDSearchEvent2 .CH1 { background:#79533E; padding:10px 5px; font-size:16px; color:#fff;}

	.SDSearchEvent2 .CDTp1 { position:relative; *zoom:1;}

	.SDSearchEvent2 .CDTp1 .CP1 { line-height:20px; font-size:10px; padding:3px 10px; text-align:right; color:#666;}
		.SDSearchEvent2 .CDTp1 .CP1_1 { background:url(../img/general/renew/icon/IconNew1.gif) 10px 10px no-repeat; padding-left:70px;}
	.SDSearchEvent2 .CDTp1 .CU1 { position:absolute; left:0px; top:3px;}
		.SDSearchEvent2 .CDTp1 .CU1 li { display:inline; margin-left:2px;}

.SDSearchEvent2W1 { background:#fff; padding:4px 8px 4px 4px; margin:0px 0px 0;}
	.SDSearchEvent2W1 .Img1 { padding:39px;}
	.SDSearchEvent2W1 .CPTtl1 { font-size:16px; font-weight:bold; position:absolute; top:3px; left:182px; width:440px; *zoom:1;}
	.SDSearchEvent2W1 .CDLt1 { float:left; width:160px;}

	.SDSearchEvent2W1 .CDRt1 { float:right; width:440px; padding-top:42px;}
		.SDSearchEvent2W1 .CDRt1 .CT1 { border-collapse:separate; border-top:0;}
		.SDSearchEvent2W1 .CDRt1 .CT1 th { border-top:1px dotted #ccc; border-bottom:0; font-weight:normal; text-align:left;}
		.SDSearchEvent2W1 .CDRt1 .CT1 td { border-top:1px dotted #ccc; border-bottom:0;}
		.SDSearchEvent2W1 .CDRt1 .CT1 li { float:left;}
		.SDSearchEvent2W1 .CDRt1 .CT1 .CP1 { position: absolute; right:3px; bottom:5px;}
			.SDSearchEvent2W1 .CDRt1 .CT1 .CLi1 { width:200px;}
			.SDSearchEvent2W1 .CDRt1 .CT1 th p , .SDSearchEvent2W1 .CDRt1 .CT1 td p { padding:4px 5px 2px;}
			.SDSearchEvent2W1 .CDRt1 .CT1 th p img , .SDSearchEvent2W1 .CDRt1 .CT1 td p img { margin-bottom:2px; vertical-align:middle; margin-right:10px;}

		.SDSearchEvent2W1 .CDRt1 .CH1 { background:#79533E; padding:6px 5px; font-size:14px; color:#fff; margin-bottom:9px;}



/* 右カラムログイン枠 */
.SDLSLogin1 { border:5px solid #E8E6D7; padding:6px 10px 6px 8px; margin:0 0 7px; *zoom:1;}
.SDLSLogin1 .CPBtnLt1 { float:left; margin-top:1px;}
.SDLSLogin1 .CPImgRt1 { float:right;}
.SDLSLogin1 .CUBm1 { clear:both; text-align:right;}
.SDLSLogin1 .CUBm1 li { display:inline-block; margin:0 5px; *display:inline; *zoom:1; font-size:10px; padding:2px 0 2px 18px;}
.SDLSLogin1 .CUBm1 .CLi1 { background:url(../img/general/renew/icon/IconFaq2.gif) 0 50% no-repeat;}
.SDLSLogin1 .CUBm1 .CLi2 { background:url(../img/general/renew/icon/IconVisitor1.gif) 0 50% no-repeat;}

/* 右カラムログイン枠 */
.SDLSLogin2 { border:5px solid #E8E6D7; padding:6px 10px 13px 8px; margin:0 0 7px; *zoom:1;}
.SDLSLogin2 .CPBtnLt1 { float:left; margin-top:1px;}
.SDLSLogin2 .CPImgRt1 { float:right;}
.SDLSLogin2 .CUBm1 { clear:both; text-align:right;}
.SDLSLogin2 .CUBm1 li { display:inline-block; margin:0 5px; *display:inline; *zoom:1; font-size:10px; padding:2px 0 2px 18px;}
.SDLSLogin2 .CUBm1 .CLi1 { background:url(../img/general/renew/icon/IconFaq2.gif) 0 50% no-repeat;}
.SDLSLogin2 .CUBm1 .CLi2 { background:url(../img/general/renew/icon/IconVisitor1.gif) 0 50% no-repeat;}

.SDLSLogin2 .CD1 { background:#FFF2D9; padding:11px 10px 11px; position:relative; height:79px; margin:0 0 12px;}
.SDLSLogin2 .CD1 .CPBtnResist1 { position:absolute; top:11px; left:152px;}
.SDLSLogin2 .CD1 .CPBtnGuide1 { position:absolute; top:54px; left:152px;}
.SDLSLogin2 .CD1 .CPIntro1 { padding:5px 0 0; line-height:17px;font-size: 11px;}
.SDLSLogin2 .CPBtnLogin1 { clear:both; background:url(../img/base/ImgSns1.gif) 100% 0 no-repeat; padding-bottom:1px;}

/* 調整クラスへの追加分 */
#wrapper .AFC15 { color:#FF6600;}
#wrapper .AMTp0 { margin-top:0;}
#wrapper .AMTp2 { margin-top:2px;}
#wrapper .AMBm2 { margin-bottom:2px;}
#wrapper .AMBm3 { margin-bottom:3px;}
#wrapper .AMRt6 { margin-right:6px;}

#wrapper .APLt192 { padding-left:192px;}

/* 検索結果トップ */
.SDSearchTp1 { position:relative; margin-bottom:10px;}
.SDSearchTp1 .CPBtnRt1 { position:absolute; top:5px; right:0px;}




/* ファンサイト・ジャンル */
.box_project_list table.table_sort{
	border:1px solid #E8E6D7;
	border-collapse:collapse;
	width:630px;
	margin-left:1px;
}

.box_project_list div.div_item{
	width:630px;
	clear:both;
}

div.etp_list div.div_etp_item h3{
	background:none;
	border-bottom:3px solid #C9BF9C;
}
div.etp_list div.div_etp_item h3 a{
	color:#333;
	font-size:14px;
}

div.etp_list div.div_etp_item table.etp_cont div.etp_comment{
	background:url(../img/general/etp_list/BgEtp_comment1.gif) 0 0 no-repeat;
	padding:10px 15px 10px 32px;
	overflow:hidden;
	height:46px;
	_height:66px;
	width:495px;
	_width:542px;
	margin-left:6px;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
	#LH1 .CDMid1 .CU1 li { letter-spacing:-1px;}
	#LH1 .CDMid1 .CU1 .CLi1 { letter-spacing:0;}
	.SUEventNav1 li:nth-child(5) { letter-spacing:-1px;}
}


/* 20130227 */
#SDCp20121009_1 { background:url(../img/base/BgFifth1.gif) 50% 112px no-repeat;}
#LH1 .CDMid1 .CU1 .CLi3 { position:static;}
#LH1 .CDMid1 .CU1 .CLi3 .CPIcon1 { position:absolute; top:-22px; left:0px;}
#LH1 .CDMid1 .CU1 .CLi3 .CPIcon1 img { margin-left:0;}

/* 20130818 */
#SDCp20130818 {
	background: url(../img/aqli/bg_body.png) 50% 112px no-repeat;
}
#SDCp20130818 #container {
	position: relative;
}
#SDCp20130818 .animation {
	position: absolute;
}
#SDCp20130818 .animation.left {
	left: -155px;
	top: 288px;
}
#SDCp20130818 .animation.right {
	top: 304px;
	right: -195px;
}
/* 企業ジャックベース */
#SDCpJac {
	background: 50% 112px no-repeat;
	/*overflow: hidden;*/
}
#SDCpJac #container {
	position: relative;
}
#SDCpJac .animation {
	position: absolute;
}
#SDCpJac .animation a {
	display: block;
}
/* 企業ジャック 130909（名称変更） */
.SDModal1.jac130909 >.wrap {
	border: 3px solid #D6D6D6;
	background: #FFF;
	padding-bottom: 65px;
}
.SDModal1.jac130909 >.wrap p {
	margin-bottom: 35px;
	line-height: 170%;
	font-size: 14px;
	color: #666666;
}
.SDModal1.jac130909 >.wrap .logo {
	margin: 35px 0 62px 178px;
	text-align: left;
}
/* 企業ジャック 131007 */
#SDCpJac.jac131007 {
	background-image: url(../img/koikeya/bg_body.jpg);
}
#SDCpJac.jac131007 .animation a {
	width: 203px;
	height: 244px;
}
#SDCpJac.jac131007 .animation.left {
	top: 166px;
	left: -203px;
}
#SDCpJac.jac131007 .animation.left a {
	width: 193px;
}
#SDCpJac.jac131007 .animation.right {
	top: 166px;
	right: -213px;
}
/* 企業ジャック 131108 */
#JTgtModal1.jac131108 .CP1 {
	margin-left: -241px;
	top: 615px;

}
/* FOY 131120 */
#SDCpJac.jac131120 {
	background-image: url(/cp/foy_2013/img/base/bg_body.jpg);
}
#SDCpJac.jac131120 .animation a {
	width: 159px;
	height: 471px;
}
#SDCpJac.jac131120 .animation.left {
	top: 300px;
	left: -182px;
}
#SDCpJac.jac131120 .animation.right {
	top: 300px;
	right: -182px;
}
/* 6周年ジャック 140214 */
#SDCpJac.jac140214 {
	background-image: url(../img/6th/bg_body.jpg);
}
/* 企業ジャック 140314 */
#SDCpJac.jac140314 {
	background-image: url(../img/koikeya/bg_body.jpg);
}
#SDCpJac.jac140314 .animation.left a, #SDCpJac.jac140314 .animation.right a {
	width: 120px;
	height: 650px;
}
#SDCpJac.jac140314 .animation.left {
	top: 160px;
	left: -160px;
}
#SDCpJac.jac140314 .animation.right {
	top: 160px;
	right: -160px;
}
.SDModal1.jac140314 .CP1 {
	left: 274px;
	top: 623px;
	margin-left: 0;
}
/* 企業ジャック 140331 */
#SDCpJac.jack .animation.left a, #SDCpJac.jack .animation.right a {
	/*
	width: 120px;
	height: 650px;
	*/
	width: 190px;
	height: 3300px;
}
#SDCpJac.jack .animation.left {
	/*
	top: 160px;
	left: -160px;
	*/
	top: 0px;
	left: -200px;
}
#SDCpJac.jack .animation.right {
	/*
	top: 160px;
	right: -160px;
	*/
	top: 0px;
	right: -195px;
}
.SDModal1.jack .CP1 {
	top: 423px;
	left: 293px;
	margin-left: 0;
}